/* ==========================
   Responsive Navbar Styles
   ========================== */

/* Medium devices (tablets ≤ 992px) */
@media (max-width: 992px) {

  .navbar{
    padding: 10px 10px;
  }  
  .nav_lists {
    gap: 20px;
  }

  .nav_lists li a {
    font-size: 15px;
  }

  .nav_icons img {
    width: 20px;
    height: 20px;
  }
  .icons{
    display: flex;
    gap: 20px;
  }
  /* banner area */
  .banner_content h1 {
    font-size: 50px;
  }

  .banner_content p {
    font-size: 16px;
  }

  .banner_img img {
    width: 90%;
    height: auto;
  }
    .banner_img {
    order: -1;
  }
}

/* Small devices (mobile ≤ 768px) */
@media (max-width: 768px) {
  /* hide menu and show hamburger */
  .nav_lists {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background: #EEEDE7;
    width: 220px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  .nav_lists.active {
    display: flex;
  }

  .nav_lists li {
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: #503217;
  }

  /* banner area */
  .banner_area {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .banner_content h1 {
    font-size: 32px;
    line-height: 1.2;
    padding: 10px;
  }
   .banner_content h1 br{
    display: none;
   }

  .banner_content p {
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
  }

  .banner_content .btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    font-size: 16px;
    background: #503217;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 5px;
  }

  .banner_img img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

/* Extra small devices (≤ 480px) */
@media (max-width: 480px) {
  .logo_text {
    font-size: 20px;
  }

  .nav_logo img {
    width: 30px;
    height: 28px;
  }

  .hamburger {
    font-size: 24px;
  }
  /* banner area */
   .banner_content h1 {
    font-size: 28px;
  }

  .banner_content p {
    font-size: 14px;
  }

  .banner_content .btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .banner_img img {
    max-width: 300px;
  }
}
